.columns {
  -moz-column-width: 30.5em; /* Firefox */
  -webkit-column-width: 30.5em; /* webkit, Safari, Chrome */
  column-width: 30.5em;
}

.columns ul {
  margin: 0;
  padding: 0;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child {
    margin-top:0px;
}

code {
  white-space: pre;
}
.rating {
  margin: 10px 0;
}

.rating i {
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #eee;
  border-radius: 0.22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}

/** Colors */
[data-rating^="1"] .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

[data-rating^="1.5"] .star-2 {
  border-left-color: #cc8b1f;
}

[data-rating^="2"] .star-1 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rating^="2"] .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rating^="2.5"] .star-3 {
  border-left-color: #dcb228;
}

[data-rating^="3"] .star-1 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^="3"] .star-2 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^="3"] .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^="3.5"] .star-4 {
  border-left-color: #f0991e;
}

[data-rating^="4"] .star-1 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^="4"] .star-2 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^="4"] .star-3 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^="4"] .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^="4.5"] .star-5 {
  border-left-color: #f26a2c;
}

[data-rating="5"] i {
  background: #dd050b;
  border-color: #dd050b;
}

